<div class="navbar d-md-block d-none">
    <div class="container">
      <div class="logo">
        <img class="logoThree" src="../assets/images/Vector.jpg" alt="競選logo">
        <div class="logoName">
          <img class="me-1" src="../assets/images/purpleName.png" alt="喵立翰logo名">
        </div>
      </div>
      <ul class="navName">
        <li class="mx-3"><a href="#">候選人主張</a></li>
        <li class="mx-3"><a href="#newActivty">最新活動</a></li>
        <li class="mx-3"><a href="#issues">政策議題</a></li>
        <li class="mx-3"><a href="#serviceMail">民眾服務信箱</a></li>
      </ul>
      <a href="#donation" class="navBtn">
        <img src="../assets/images/path824.png" alt="按鈕icon">
        <p>小額捐款</p>
      </a>
    </div>
</div>





<div class="navbarMoble d-block d-md-none">
  <div class="container">
    <div class="logo">
      <img class="logoThree" src="../assets/images/Vector.jpg" alt="競選logo">
      <div class="logoName">
        <img class="me-1" src="../assets/images/purpleName.png" alt="喵立翰logo名">
      </div>
      <a href="#" class="btn ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <img src="../assets/images/menu (1) 1.jpg" alt="">
      </a>
    </div>
    <div class="offcanvas offcanvas-end bg-primary" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <div class="logo"  id="offcanvasTopLabel">
          <img class="logoMoble" src="../assets/images/whiteNum.png" alt="競選logo手機">
          <div class="logoNameMo">
            <img class="me-1" src="../assets/images/whiteName.png" alt="喵立翰logo名手機">
          </div>
        </div>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navMoble text-end list-unstyled text-end">
          <li class="mx-3 mb-3 navMenu"><a href="#" class="text-white ">候選人主張</a></li>
          <li class="mx-3 mb-3 navMenu"><a href="#newActivty" class="text-white ">最新活動</a></li>
          <li class="mx-3 mb-3 navMenu"><a href="#issues" class="text-white ">政策議題</a></li>
          <li class="mx-3 mb-3 navMenu"><a href="#serviceMail" class="text-white ">民眾服務信箱</a></li>
        </ul>
        <a href="#" class="navMoBtn">
          <img src="../assets/images/mobleWhiteIcon.png" alt="按鈕icon">
          <p>小額捐款</p>
        </a>
      </div>
    </div>
  </div>
</div>

