//navbar設定
.navbar{
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  top:0;
  .container{
    max-width: 1512px;
    margin: 0 auto;
    padding: 23px 20px;
    align-items: center;
  }
  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoName{
      margin-left: 10px;
      display: flex;
    }
  }
  .navName{
    display: flex;
    list-style-type: none;
    margin: 5px 35px 0 auto;
    li{
      &:hover{
        border-bottom: 3px solid $primary;
      }
      a{
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        color:black;
      }
    }
  }
  .navBtn{
    background-color: $primary;
    color:#ffffff;
    padding: 2px 30px;
    margin-left: 10px;
    display: flex;
    border-radius: 80px;
    text-decoration: none;
    img{
      margin-right: 10px;
      align-self: center;
      width: 35px;
    }
    p{
      color:#ffffff;
      font-weight: bold;
      font-size: 28px;
      line-height: 42px;
      margin-top: 10px;
    }
  }
}
.navbarMoble{
  .logo{
    display: flex;
    align-items: center;
  }
  .navMenu{
    a{
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Noto Sans TC', sans-serif;
    }
  }
  /*.navMoBtn{
    justify-content: end;
    background-color: #ffffff;
    width: 180px;
    align-items: center;
    display: flex;
    float: right;
    clear: both;
    text-decoration: none;
    padding: 15px 30px;
    img{
      align-self: baseline;
    }
    p{
      color:$primary;
      font-weight: bold;
      font-size: 20px;
      margin-left: 10px;
      font-family: 'Noto Sans TC', sans-serif;
    }
  }*/
  .navMoBtn{
    background-color: #ffffff;
    color:#ffffff;
    padding: 2px 30px;
    margin-left: auto;
    max-width: 60%;
    display: flex;
    justify-content: end;
    border-radius: 80px;
    text-decoration: none;
    img{
      margin-right: 10px;
      align-self: center;
      width: 35px;
    }
    p{
      color: $primary;
      font-weight: bold;
      font-size: 28px;
      line-height: 42px;
      margin-top: 10px;
    }
  }
}
