<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head'); -%>
    <title>The F2E</title>
  </head>
  <body>

    <!--navbar -->
    <%- include('./layout/header'); -%>

    <!--banner -->
    <div class="banner">
      <div class="container">
        <div class="words">
          <p class="smTitle">2023 THE F2E 立委競選</p>
          <h1 class="bgTitle d-none d-md-block">從<span>喵</span>的眼中<br>看見台灣</h1>
          <h1 class="bgTitleMo d-block d-md-none">從<span>喵</span>的眼中</h1>
          <h1 class="bgTitleSm d-block d-md-none">看見台灣</h1>
        </div>
        <div class="miauPic">
            <img src="../assets/images/Main Img-候選人.png" alt="喵立翰圖片">
        </div>
        <p class="eName">miao <br class="d-block d-md-none">Li-han</p>
        <p class="cName " >喵立翰</p>
        <div class="arrows">
          <img src="../assets/images/Arrow 1.png" alt="箭頭">
          <p>KEEP IT POSSIBLE</p>
        </div>
        <div class="blueBox">
          <h3 class="text-center">護航台灣幸福經濟<br class="d-block d-lg-none">  從照顧每一隻貓咪開始</h3>
          <p>我堅信，藉由推動更完善的貓咪福利和相關政策，更是間接地投資於台灣的未來。
             畢竟，民眾的身心健康與工作熱情是推動經濟的核心動力。透過完善的貓咪福利政策，
             為台灣的 GDP經濟帶來巨大效益。
          </p>
          <p>
             因此，我期望能在立法院內推進這些政策，確保每一隻貓咪都能得到他們應有的照
             顧，同時也為台灣的經濟發展助一臂之力。
          </p>
        </div>
      </div>
    </div>

    <div class="news" id="newActivty">
      <div class="container">
        <h2><img src="../assets/images/最新活動.png" alt="最新活動"></h2>

        <!--卡面區-->
        <div class="d-none d-md-block">
          <div class="d-flex">
            <div class="activeCard ms-4">
              <div class="card-header">
                <img src="../assets/images/Rectangle 6.jpg" alt="第一則活動">
                <div class="dayTw">
                  <p class="daySet">26</p>
                  <span>DEC.</span>
                </div>
                <div class="triangle"></div>
              </div>
              
              <div class="card-body">
                <h3>參與台北寵物論壇 爭取貓咪友善環境</h3>
                <p>
                  炎炎夏日的周六，我走進了台北寵物論壇，帶著一副貓耳髮箍，<br>決定要全力宣傳
                  「貓咪至上」的理念！我相信，我們的都市中，<br>每一隻貓咪都應該有自己的 VIP 
                  休憩空間。
                </p>
              </div>
            </div>
    
            <div class="rightCards ms-4">
              <div class="card mb-4">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../assets/images/Rectangle 61.jpg" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="card-tag">2023.12.26</div>
                      <div class="card-title">帶著你的貓耳，來和我一起走！</div>
                      <div class="card-content">
                        街上氣氛真的很棒，從小孩到大人，甚至有些狗狗朋<br>
                        友都帶著貓耳來找我握手，真的太可愛了！這次的活<br>
                        動不僅讓我看到大家的熱情，更加堅定了我推進「貓<br>
                        咪友善環境」政策的決心。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../assets/images/Group 5.jpg" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="card-tag">2023.12.20</div>
                      <div class="card-title">收容所模特兒大比拼！</div>
                      <div class="card-content">
                        活動三消息內容：今天的收容所不再是一片寂靜。為<br>
                        了讓更多人認識到這裡的毛孩子，我們舉辦了一場前<br>
                        所未有的「模特兒走秀」！
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--moble可見-->
      <div class="swiper mySwiper d-block d-md-none">
        <div class="swiper-wrapper">
          <div class="swiper-slide d-flex align-items-stretch">
            <div class="card-header">
              <img src="../assets/images/Rectangle 6.jpg" alt="第一則活動">
              <div class="dayTw">
                <p class="daySet">26</p>
                <span>DEC.</span>
              </div>
              <div class="triangle"></div>
            </div>
            
            <div class="card-body">
              <h3>參與台北寵物論壇 爭取貓咪友善環境</h3>
              <p>
                炎炎夏日的周六，我走進了台北寵物論壇，帶著一副貓耳髮箍，決定要全力宣傳
                「貓咪至上」的理念！我相信，我們的都市中，每一隻貓咪都應該有自己的 VIP 
                休憩空間。
              </p>
            </div>
          </div>
  
          <div class="swiper-slide d-flex align-items-stretch">
            <div class="card-header">
              <img src="../assets/images/Rectangle 61.jpg" alt="第二則活動">
              <div class="dayTw">
                <p class="daySet">26</p>
                <span>DEC.</span>
              </div>
              <div class="triangle"></div>
            </div>
            
            <div class="card-body">
              <h3>帶著你的貓耳，來和我一起走！</h3>
              <p>
                街上氣氛真的很棒，從小孩到大人，甚至有些狗狗朋
                友都帶著貓耳來找我握手，真的太可愛了！這次的活
                動不僅讓我看到大家的熱情，更加堅定了我推進「貓
                咪友善環境」政策的決心。
              </p>
            </div>
          </div>
  
          <div class="swiper-slide d-flex align-items-stretch">
            <div class="card-header">
              <img src="../assets/images/Group 5.jpg" alt="第三則活動">
              <div class="dayTw">
                <p class="daySet">20</p>
                <span>DEC.</span>
              </div>
              <div class="triangle"></div>
            </div>
            
            <div class="card-body">
              <h3>收容所模特兒大比拼！</h3>
              <p>
                活動三消息內容：今天的收容所不再是一片寂靜。為
                了讓更多人認識到這裡的毛孩子，我們舉辦了一場前
                所未有的「模特兒走秀」！
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <!--政策議題 -->
    <div class="issues" id="issues">
      <div class="container">
        <h2><img src="../assets/images/政策議題.png" alt="政策議題"></h2>

        <div class="cards  d-flex justify-content-between">
          <div class=" card">
            <div class="card-body py-2">
              <p>政策一</p>
              <h3 class="card-title">為毛孩子謀福利！推動寵物醫療保障方案</h3>
              <ol>
                <li>設立寵物醫療基金：每年撥款新台幣 10 億元，專款專用於支援家庭寵物的醫療費用。</li>
                <li>提供醫療補助：每隻寵物每年可獲得高達新台幣 20,000 元的醫療補助，減輕飼主的經濟壓力。</li>
                <li>合作動物醫院：目前已有和超過 200 家動物醫院進行初步的合作討論。</li>
              </ol>
            </div>
          </div>

          <div class=" card">
            <div class="card-body">
              <p>政策二</p>
              <h3 class="card-title">打造休閒天堂！推廣寵物休閒與娛樂場所</h3>
              <ol>
                <li>建立寵物公園：每年撥款新台幣 5 億元，用於在各大都市建立專屬的寵物公園。</li>
                <li>推廣寵物友善商家：鼓勵商家提供寵物友善的環境，並為參與的商家提供稅收優惠。預計
                  在政策實施後的首年，將有超過 500 家商家加入此計畫。</li>
                <li>舉辦寵物活動和工作坊：與各大寵物社團和組織合作，每年舉辦至少 5 場大型的寵物活動，包括寵物才...</li>
              </ol>
            </div>
          </div>

          <div class=" card">
            <div class="card-body">
              <p>政策三</p>
              <h3 class="card-title">推廣寵物飼養教育，讓愛更加專業</h3>
              <ol>
                <li>建立寵物飼養教育中心：每年撥款新台幣 3 億元，用於在全國各地建立專業的寵物飼養教育中心。預計在第一年內，在全國至少 5 大城市設立教育中心。</li>
                <li>推廣寵物飼養課程：與學校、社區組織和寵物社團合作，推出一系列免費的寵物飼養課程。預計每年將有超過 10,000 名市民受益。</li>
                <li> 製作教育資料：出版寵物飼養手冊、影片和線上課程，讓所有有意飼養寵物的家庭都...</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="donation" id="donation">
      <div class="container">
        <div class="moneySection">
          <h2><img src="../assets/images/小額捐款.png" alt="小額捐款"></h2>
          <p>您的小筆捐款，<br class="d-block d-lg-none">是每隻毛孩未來的大大動力！</p>
          <h4>累積總金額</h4>
          <p class="num">NT$<span class="counter">987,655,873</span></p>
          <a  class="numBtn nav-link ">
            <img src="/assets/images/path824.png" alt="前往捐款">
            <p>前往捐款</p>
          </a>
        </div>

        <div class="secondSection" id="secondSection">
          <div class="secPage">
            <h2>選擇捐款方案</h2>
            <ul class="row row-col-2 row-col-md-3">
              <li class="col-md-4 col-6 outline">
                <a href="#">
                  <h4>喵星人之友</h4>
                  <p>NT$600</p>
                  <span>已有 9957 人贊助</span>
                </a>
              </li>
              <li class="col-md-4 col-6 outline mx-2 active">
                <a href="#">
                  <h4>喵星大使</h4>
                  <p>NT$6,000</p>
                  <span>已有 2000 人贊助</span>
                </a>
              </li>
              <li class="col-md-4 col-6 outline">
                <a href="#">
                  <h4>喵星傳奇</h4>
                  <p>NT$60,000</p>
                  <span>已有 9957 人贊助</span>
                </a>
              </li>
              <li class="col-md-12 col-6 outline area">
                <label for="inputNum" class="col-form-label fw-bold">自訂捐款金額</label>
                <div class="colInput">
                  <input type="text" class="col-sm-9 form-control" id="inputNum" placeholder="請輸入捐款金額">
                </div>
              </li>
            </ul>
            
            <div class="d-flex justify-content-center secbbtn mt-2">
              <button class="one me-1">返回</button>
              <button class="sec d-flex"   data-bs-toggle="modal" data-bs-target="#donateBtn">
                <img src="/assets/images/path824.png" alt="我要捐款">
                <p>我要捐款</p>
              </button>
            </div>

            <!--捐款modal-->
            <div class="modal fade " id="donateBtn" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body text-center">
                    <h4 class="thX">感謝您成為喵星大使</h4>
                    <p class="conTitle">捐款金額</p>
                    <p class="conNum">NT$6,000</p>
                  </div>
                  <div class="modal-footer" id="donaBtn">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="serviceMail"  id="serviceMail">
      <div class="container">
        <div class="serviceContent">
          <h5><img src="/assets/images/民眾服務信箱.png" alt="民眾服務信箱"></h5>
          <p>您的聲音，我們的行動！</p>
          <p>
            親愛的鄉親，每一位市民的意見都是我們社<br class="d-none d-md-block">
            區前進的原動力。無論大小事，我都誠摯希<br class="d-none d-md-block">
            望聽到您的建議。分享您的想法，一同為我<br class="d-none d-md-block">
            們的未來打造更美好！
          </p>
        </div>
        
        <form action="">
          <div class="mb-3 inputText">
            <input type="text" class="form-control" id="exampleText" placeholder="您的姓名">
          </div>
          <div class="mb-3 inputText">
            <input type="email" class="form-control" id="exampleEmail" placeholder="您的 Email">
          </div>
          <div class="mb-3 inputText">
            <input type="phone" class="form-control" id="examplePhone" placeholder="您的手機">
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="您的建言"></textarea>
          </div>
          <div class="sendBtn">
            <button type="submit" class="formBtn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">送出意見</button>
          </div>
        </form>

        <!-- Modal -->
        <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <h4>感謝您抽出寶貴的時間給予我們寶貴的建議。</h4>
                <p>
                  我們非常重視您的意見，它是我們不斷改進和提升服務的動力。您提出的
                  建議已經轉交給相關部門進行評估，我們將努力在未來的服務中加以考慮
                  和實施。
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">返回</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="catImg">
        <img src="/assets/images/Mokker (6) 1.png" alt="">
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://unpkg.com/counterup2@2.0.2/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
